html {
    height: 100%;
}
body {
    min-height: 100%;
}

#arabic{
    text-indent: 12px;
    font-family: "Amiri",serif, "Dancing Script", cursive, "IBM Plex Sans Arabic", "Caveat", cursive;
    font-weight:400px;
    font-size: 30px;
    text-align:center;
}


#english {
    text-indent: 12px;
        font-family: "Amiri",serif, "Dancing Script", cursive, "IBM Plex Sans Arabic", "Caveat", cursive;
        font-weight:400px;
        font-size: 22px;
        text-align:center;
    }

body{
    background: beige;
    text-align:center;
    border: 2px solid black;
    margin-top:1em;
    font-family: "Amiri",serif, "Bellefair" , serif, "IBM Plex Sans Arabic";
    font-weight: 400px;
    font-size: 13px;
}


#img1 {
    height: 11.5em;

}


#alt1 {
    text-align:center;
    font-size: 12.5px;

}



span {
    display:block;
    text-indent: px;
    text-indent:1em;

}

div {
   text-indent: 14px;
}

h2,h5 {
   text-indent: 14px;
}

h4{
    font-size: 14.5px;
}

h5{
    font-size: 14.5px;
    position: relative;
    bottom: 7px;
}

tr, th, td{
    border: 1.25px solid black;
    width:55%;
    height:30px;
    text-align:center;
}

table{
    margin-left:auto;margin-right:auto;
}


#directions{
    text-indent:11px;
    font-size: 22px;

}

#ingredients {
    width: 200px
}

#measurements {
    width: 200px;
}

#done{
    text-indent: 27px;
}

section h3 {
    text-decoration: bold;
}

.details {
   text-indent:14px;
}

footer{
    text-align:center;
    font-size: 16px;
    text-decoration: bold;
}

ol {
    text-align: center;
      list-style-position: inside;
}

.top_sections h3 {
    font-size: 16.3px;
    line-height: 2.5px;
}


.bottom_sections h3{
    line-height: 6px;
}

.bottom_sections h3 {
    font-size: 21px;
}


#final_section {
    line-height:0px;
}




