html {
    height: 100%;
}

body {
    min-height: 100%;
    background: rgb(253, 235, 235);
    border: 2px solid black;
    margin-top: 0.5em;
    font-family: "Amiri", serif, "Bellefair", serif, "IBM Plex Sans Arabic";
    font-size: 13px;
    color: #444444;
    text-align: center;
    padding: 1em 1em 0.75em 1em; /* combined padding shorthand */
}

#toggleLanguage {
    position: absolute;
    top: 11.5px;
    right: 18px;
    font-size: 17px;
    color: #010101;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
}

#headingArabic,
#headingEnglish {
    font-family: "Amiri", serif, "Dancing Script", cursive, "IBM Plex Sans Arabic", "Caveat", cursive;
    font-size: 30px;
}

#img1 {
    height: 11.5em;
}

#altEnglish,
#altArabic {
    font-size: 10px;
    margin-top: -0.4em;
}

h4 {
    margin-top: 25px;
    margin-bottom: 18px;
}

#nameEnglish,
#nameArabic {
    position: relative;
    bottom: 7px;
    margin-top: 26px;
    margin-bottom: 16px;
    font-size: 14.5px;
}

tr,
th,
td {
    border: 1.25px solid black;
    width: 53%;
    height: 30px;
    text-align: center;
}

td {
    padding: 0 0.5rem; /* combined padding shorthand */
}

th {
    padding: 0.1rem;
}

table {
    margin-left: auto;
    margin-right: auto;
}

#directionsEnglish,
#directionsArabic {
    font-size: 22px;
}

section h4,
footer {
    font-weight: bold; /* 'text-decoration: bold' is invalid, replaced with font-weight */
}

.ol {
    list-style-position: inside;
    margin: 0 auto;
    padding: 0;
}

.top_sections {
    font-size: 13px;
    line-height: 12px;
    margin-bottom: 0;
}

.bottom_sections {
    font-size: 16px;
    line-height: 6px;
    margin-bottom: 15px;
}

.final_section div {
    margin-top: -0.1em;
}

.final_section > h4 {
    margin-bottom: 0.5rem;
    margin-top: 0.1rem;
}

footer {
    text-align: center;
    font-size: 16px;
    margin-bottom: 1.5rem;
    margin-top: 0.5em;
}

.button {
    text-decoration: none;
    border: 1.25px solid black;
    padding: 4px 10px;
    font-size: 17px;
    color: black;
    text-transform: uppercase;
    margin: 0.5rem;
}

@media screen and (max-width: 500px) and (max-height: 500px) {
    #toggleLanguage {
        font-size: 12.5px;
    }
}
