html {
    height: 100%;
}
body {
    min-height: 100%;
}

body{
    background: rgba(237, 122, 114, 0.141);
    margin-top:.5em;
    font-family: "Amiri",serif, "Bellefair" , serif, "IBM Plex Sans Arabic";
    font-weight: 400px;
    font-size: 13px;
    color: #444444;
    text-align:center;
}

#arabic{
    font-family: "Amiri",serif, "Dancing Script", cursive, "IBM Plex Sans Arabic", "Caveat", cursive;
    font-weight:400px;
    font-size: 30px;
}

#english {
     text-indent: 12px;
     font-family: "Amiri",serif, "Dancing Script", cursive, "IBM Plex Sans Arabic", "Caveat", cursive;
     font-weight:400px;
     font-size: 22px;
}

#img1 {
    height: 11.5em;
}


#alt1 {
    font-size: 12.5px;
    margin-top: 0em;
}

h4, h5{
    font-size: 14.5px;
}

h5{
    position: relative;
    bottom: 7px;
}

tr, th, td{
    border: 1.25px solid black;
    width:55%;
    height:30px;
    text-align:center;
}

table{
    margin-left:auto;margin-right:auto;
}

tr, td{
    padding-left: .5rem;
    padding-right: .5rem;
}

th{
    padding: .1rem;
}

#directions{
    font-size: 22px;
}

section h3, footer{
   text-decoration: bold;
}

.ol {
    list-style-position: inside;
    margin: 0 auto;
    padding: 0;
}

.top_sections h3 {
    font-size: 16.3px;
    line-height: 2.5px;
}

.bottom_sections h3 { /* starting from Jelly */
    font-size: 20px;
    line-height: 6px;
}

.final_section div{
    margin-top: -.1em;
}

.final_section > h4{
    margin-bottom: .5rem;
    margin-top: .1rem;
}

footer{
    text-align:center;
    font-size: 16px;
    margin-bottom: 1.5rem;
}

.button { /** both buttons **/
    text-decoration: none;
    border: 1.25px solid black;
    padding:4px 10px;
    font-size: 17px;
    color: black;
    text-transform: uppercase;
    padding-bottom: 0px;
    margin: .5rem;
}

