html {
    height: 100%;
}

body {
    min-height: 100%;
    background: rgb(250, 228, 215);
    border: 2px solid black;
    margin-top: 0.5em;
    font-family: "Amiri", serif, "Bellefair", serif, "IBM Plex Sans Arabic";
    font-weight: 400px;
    font-size: 13px;
    color: #444444;
    text-align: center;
    padding: .75em;
}

#toggleLanguage {
    position: absolute;
    top: 10px;
    right: 18px;
    font-size: 17px;
    color: #010101;
    cursor: pointer;
}

#headingArabic,
#headingEnglish {
    font-family: "Amiri", serif, "Dancing Script", cursive, "IBM Plex Sans Arabic", "Caveat", cursive;
    font-weight: 400px;
    font-size: 30px;
}

#img1 {
    height: 11.5em;
}

#altEnglish,
#altArabic {
    font-size: 10px;
    margin-top: -0.4em;
}

h4,
#nameEnglish,
#nameArabic {
    font-size: 14.5px;
    margin-top: 22.5px;
}

#nameEnglish,
#nameArabic {
    position: relative;
    bottom: 7px;
}

tr,
th,
td {
    border: 1.25px solid black;
    width: 53%;
    height: 30px;
    text-align: center;
}

td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

th {
    padding: 0.1rem;
}

table {
    margin-left: auto;
    margin-right: auto;
}

#directionsEnglish, #directionsArabic {
    font-size: 22px;
}

section h4,
footer {
    text-decoration: bold;
}

.ol {
    list-style-position: inside;
    margin: 0 auto;
    padding: 0;
}

.top_sections h4 {
    font-size: 16px;
    line-height: 2.5px;
    margin-bottom: 15px;
}

.bottom_sections h4 {
    /* starting from Jelly */
    font-size: 16.5px;
    line-height: 6px;
    margin-bottom: 15px;

}

.final_section div {
    margin-top: -0.1em;
}

.final_section > h4 {
    margin-bottom: 0.5rem;
    margin-top: 0.1rem;
}

footer {
    text-align: center;
    font-size: 16px;
    margin-bottom: 1.5rem;
}

.button {
    /** both buttons **/
    text-decoration: none;
    border: 1.25px solid black;
    padding: 4px 10px;
    font-size: 17px;
    color: black;
    text-transform: uppercase;
    padding-bottom: 0px;
    margin: 0.5rem;
}

@media screen and (max-width: 500px) and (max-height: 500px) {
    #toggleLanguage {
        font-size: 12.5px;
        padding-right: -1rem;
    }
}
