
html {
    height: 100%;
}
body {
    min-height: 900px;;
    min-width: 50%
    float:right;
}

*{
    box-sizing: border-box;
}


nav{
    float:right;
    top:0px;
    left:-25px;
    bottom:0px;
    position:fixed;
    width:50px;
    height:0px;
    background:pink;

}

main{
    float:left;
    min-height: 500px;
    width: 40em;
    border: 2px solid black;
    background: pink;
    padding: 2em;


}

h1{ /** MidEast Recipes title **/
    font-family: "Rubix Puddles", cursive;
    font-weight:300px;
}


#about {
display:block;
text-align:center;
font-weight:bold;
}



main p { /** quote for the website **/
    text-align:center;
    font-family: "Open Sans", cursive;
    font-size: 13.5px;
    font-weight:bold;


}

.container p {
margin-bottom: 3em;
}


img{ // /**img of me**/

    display:block;
    position:absolute;
    width: 12em;
    height: 15em;
    margin-top: 2.5em;
    padding:0em;
    margin-left: 0em;
    background: pink;
    border: 1.5px solid black;


}



.divs { /** my About me biography paragraph **/
display:block;
text-align:right;
font-weight:bold;
font-size: 16px;
font-family: "Open Sans", cursive;
font-size: 13.25px;
margin-right: 0em;
line-height: 18px;
padding: .75em .75em .75em 0em;



}


/*.container { *//** container of img and paragraph**//*

display:flex;
flex-direction: column;
flex-wrap: wrap;



}*/



body{ /** page behind the main **/

     border: 2px solid black;
     background: pink;
     margin-left:250px;
     padding: 2em;
     min-height: 685px;

}



button {
    background:pink;
    padding-left:50px;
    padding:7px;
    color: black;
    width: 150px;
    height:40px;
}


/** #form{  // search bar
    display:block;
    font-size: 1px;
    background:pink;
    text-indent:-6px;
    height:40px;
    border:0; } **/




.socials #linkedin{

  display:block;
  clear:both;
  text-align:center;
  padding-top: 5em;
  font-size: 12.5px;
  margin-bottom:.1em;
  font-weight:bold;



}




footer{
    line-height:.75em;
}





#date {
    display:block;
    position:absolute;
    font-size: 10.5px;
    right: 1.4em;
    bottom: -23.5em;

}


